@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #39351b;
  background-color: white;
}

h1 {
  font-family: 'Montserrat', "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 2.2em;
  color: #FF6250;
  font-weight: bold;
  line-height: normal;
}

a {
  color: #378DFF;
  font-weight: bold;
}

.map {
  position: absolute;
  z-index: 1;
}

#description {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: rgba(255,255,255,0.6);
  z-index: 100;
  padding: 15px;
  width: 30%;
}

#description.tour {
  width: 20%;
}

#personnel {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
  z-index: 100;
  padding: 15px;
  width: 100%;
  overflow: scroll;
}

#description h1, #description p {
  margin: 5px 0;
}


@media (max-width: 750px) {
  body #description {
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 100;
    padding: 10px;
    width: 100% !important;
  }
  body .close {
    right: 20px;
  }
}

img.art {
  width: 100%;
}


p.lead {
  font-size: 20px;
}

ul.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.navigation li {
  display: inline;
  padding: 0;
  margin-right: 15px;
}

.move {
  font-size: 3em;
}

.move.next {
  float: right;
}

.move.disabled {
  color: #aaa;
  text-decoration: none;
  cursor: default;
}

.closer {
  background: none;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 25px;
  color: #646464;
  cursor: pointer;
}

.tempeh-ruben {
  position: absolute;
  display: none;
  bottom: 30px;
  left: 30px;
  background: rgba(255,255,255,0.6);
  z-index: 100;
  border: 0;
  padding: 5px;
  cursor: pointer;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #646464;
}

.icon-bar+.icon-bar {
  margin-top: 4px;
}

#modal .modal-body img {
  width: 100%;
}
