@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #39351b;
  background-color: white;
}

.blogs {
  display: none;
}

.full-photo .blogs {
  display: block;
  border-left: 1px solid #fff;
  padding-left: 15px;
}

.slider-up {
  display: none;
}

#carousel {
  display: none;
}

h1 {
  font-family: 'Montserrat', "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 2.2em;
  color: #FF6250;
  font-weight: bold;
  line-height: normal;
}

.slider-down {
  display: none;
}

.full-photo h1 {
  font-size: 3em;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.full-photo a {
  color: #fff;
}

a {
  color: #378DFF;
  font-weight: bold;
}

.map {
  position: absolute;
  z-index: 1;
}

#description {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(255,255,255,0.9);
  z-index: 100;
  padding: 15px;
  width: 30%;
  box-shadow: 0 15px 20px rgba(0,0,0,0.8);
}

#description.tour {
  width: 20%;
}

#description .slider {
  background: transparent;
  border: none;
  font-size: 2em;
  float: right;
  color: #fff;
}

#description.full-photo {
  background-image: url(../img/cover.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#personnel {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
  z-index: 100;
  padding: 15px;
  width: 100%;
  overflow: scroll;
}

#description h1, #description p {
  margin: 5px 0;
}


@media (max-width: 750px) {
  body #description {
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 100;
    top: auto;
    padding: 10px;
    width: 100% !important;
  }

  #description.full-photo {
    background-image: url(../img/cover-mobile.jpg);
    bottom: 0;
    top: auto;
  }

  #description.full-photo h1 {
    text-shadow: none;
  }

  #description .slider {
    display: none;
  }

  #description .slider-down, #description .slider-up {
    display: none;
    background: transparent;
    border: none;
    font-size: 2em;
    float: right;
    color: #fff;
  }

  body #description .slider-up {
    color: #646464;
  }


  .tempeh-ruben {
    top: auto !important;
    bottom: 30px;
  }

  body .close {
    right: 20px;
  }

  .closer {
    display: none;
  }
}

img.art {
  width: 100%;
}


p.lead {
  font-size: 20px;
}

ul.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.navigation li {
  display: inline;
  padding: 0;
  margin-right: 15px;
}

.move {
  font-size: 3em;
}

.move.next {
  float: right;
}

.move.disabled {
  color: #aaa;
  text-decoration: none;
  cursor: default;
}

.closer {
  background: none;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 25px;
  color: #646464;
  cursor: pointer;
}

.tempeh-ruben {
  position: absolute;
  display: none;
  top: 30px;
  left: 30px;
  background: rgba(255,255,255,0.6);
  z-index: 100;
  border: 0;
  padding: 5px;
  cursor: pointer;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #646464;
}

.icon-bar+.icon-bar {
  margin-top: 4px;
}

#modal .modal-body img, .description-body img {
  width: 100%;
}

.slideshow-link {
  display: block;
  position: relative;
  cursor: pointer;
}

.slideshow-play {
  position: absolute;
  top: 40%;
  left: 43%;
  margin: 0 auto;
  color: #fff;
  font-size: 3em;
}
