<!doctype html>
<html>
  <head>
    <title>{{page.title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/river.min.css"/>
  </head>
  <body>
    <button class="tempeh-ruben">
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
    </button>
    {{content}}

    <div class="modal fade" id="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">

          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWBbBj23uzLQvb2lkOLsmwVwqFGLYVWdk"></script>
    <script src="js/river.min.js"></script>
  </body>
</html>
